<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width, initial-scale=1.0">
    <title>{{ question }}</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
  </head>
  
  <body>
    <h1>{{ question }}</h1>
    <p>The probability is {{ probability }}&percnt;.</p>
    <p>You can see the market <a href="{{ market_url }}">here</a>.</p>
    <p>Would you like to search for a different market?</p>
    <form action="/market_info">
      <input type="text" name="market_search_text" id="market_search_text" placeholder="Enter search terms" />
      <button type="submit">Search</button>
    </form>
  </body>
  
</html>
