<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width, initial-scale=1.0">
    <title>Get Market Information</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
  </head>
  
  <body>
    <h1>Get Market Information</h1>
    <form action="/market_info">
      <input type="text" name="market_search_text" id="market_search_text" placeholder="Enter search terms for this market" />
      <button type="submit">Search</button>
    </form>
  </body>
  
</html>
